#orbit {
  margin: 10px;
}
h3 {
  margin-top: 20px;
  margin-bottom: 5px;
}
.drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 400px;
  margin-left: 40px;
  padding: 20px;
  background-color: #eee;  font-weight: bold;
  text-align: center;
}
.highlight {
  border-color: purple;
  background-color: darkgrey;
}

.fileDiv {
  border: 2px dashed #ccc;
  border-radius: 2px;
  width: 500px;
  margin: 5px;
  padding: 3px;
  background-color: white;
}
.pageOuter {
  border: 1px solid darkgrey;
  border-radius: 10px;
  width: 550px;
  margin-left:10px;
  padding-left: 20px;
  margin-bottom: 10px;
  background-color: white;
  text-align: left;
}
.preview {
  float: right;
  margin-top:10px;
  padding-right: 10px;
  margin-right: 5px;
}
.pageButt {
  margin:15px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid cornflowerblue;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  width:120px;
  display: inline-block;
}
.pageTitle {
  margin-top:10px;
  font-size: 16px;
  font-weight: bold;
}
.status {
  float: right;
  border-radius: 2px;
  text-align: center;
  width: 60px;
  padding: 3px;
  margin: 2px;
  font-size: 12px;
}
.activeBlue {
  border: 1px solid cornflowerblue;
  cursor: pointer;
  color: cornflowerblue;
}
.activeRed {
  border: 1px solid indianred;
  cursor: pointer;
  color: indianred;
}
.wip {
  border: 1px solid grey;
  cursor: normal;
  color: grey;
}
.small {
  font-style: italic;
  font-size: 8px;
}
.leftPict {
  max-height: 25px;
  float: left;
  margin-right: 5px;
  max-width: 50px;
}
#allMedia {
  margin-left: 20px;
}
.errorBox {
  display: none;
  background: lightyellow;
  color: red;
  font-weight: bold;
  margin: 20px;
  padding: 20px;
  border: 1px solid red;
  border-radius:5px;
}
#mainErrorBox {
  position: fixed;
  top: 20px;
  width: 80%;
}
